* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #FFF;
}

@media (max-width: 1080px) {
  html {
      font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
      font-size: 87.5%;
  }
}

body {
  background: #EBEBEB;
}

body,
input,
textarea,
button {
  font: 400 1rem Poppins, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  font-family: Poppins, sans-serif;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.6rem;
}

button {
  cursor: pointer;
}